$purple: #8263c0;

.edit-todo{
  position: relative;
  border: 2px solid $purple;
  border-radius: 10px;
  min-height: 300px;
  background: #cbc7c7;
  color: $purple;
}
.date{
  margin: 10px;
}
.title{
  margin: 10px;
}
.description{
  margin-left: 10px;
}
.back-btn{
  cursor: pointer;
  font-size: 25px;
  color: $purple;
  border: 2px solid $purple;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 3px;
}